<form class="mt-5">
  <div class="form-group">
    <label for="nombre">Nombre</label>
    <input
      type="nombre"
      [(ngModel)]="cliente.nombre"
      class="form-control"
      id="nombre"
    />
  </div>
  <div class="form-group">
    <label for="apellidos">Apelidos</label>
    <input
      type="apellidos"
      [(ngModel)]="cliente.apellidos"
      class="form-control"
      id="apellidos"
    />
  </div>
  <div class="form-group">
    <label for="e_mail">E-mail</label>
    <input
      type="e_mail"
      [(ngModel)]="cliente.e_mail"
      class="form-control"
      id="e_mail"
    />
  </div>
  <div class="form-group">
    <label for="telefono">Telefono</label>
    <input
      type="telefono"
      [(ngModel)]="cliente.telefono"
      class="form-control"
      id="telefono"
    />
  </div>

  <button type="submit()" class="btn btn-primary mt-2">Guardar</button>
</form>
