<div class="container ml-4">
<app-navbar></app-navbar>
<div class="row">
  <div class="col">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>#</th>
          <th>Nombre</th>
          <th>Apellidos</th>
          <th>Email</th>
          <th>Telefono</th>
          <th>Opciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cliente of clientes | keyvalue">
          <td>{{cliente.key}}</td>
          <td>{{cliente.value.nombre}}</td>
          <td>{{cliente.value.apellidos}}</td>
          <td>{{cliente.value.e_mail}}</td>
          <td>{{cliente.value.telefono}}</td>
          <td>
            <button class="btn btn-primary" routerLink="/cliente/edit/{{cliente.key}}">Edit</button>
            <button class="btn btn-danger m-1" (click)="borrarCliente(cliente.key)">Borrar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
</div>
